.home-page-container {
    display:block;
    margin-top: 80px;
    height: 600px;
    width: 400px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}

.tab-container {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.tab.left {
    width:100%;
    height: 97%;
    border: 2px solid #f6f6f6;
    border-top:none;
    border-left:none;
}

.tab.right {
    width:100%;
    height: 97%;
    border: 2px solid #f6f6f6;
    border-top:none;
    border-right:none;
}

.tab.active {
    border: none;
}

.tab-icon {
    margin-top: 15%;
    color: #bbbbbb;
    width: 80px;
}

.tab-icon.active {
    color:#8e5cc5 !important;
}

.home-page-content {
    overflow: auto;
}
